
$primary-color: #333; 
main{
    display: flex;
    // place-items: center;
    background-color: $primary-color;
    height: 100vh;
}
.generatorB, .power_meter_right, .short_connection_right, .breaker_right{
    margin-left: 140px;
}
.utility-reference{
    fill: rgb(30, 125, 207);
}
.line-breaker{
    cursor: pointer;
}
.open{
    transform:rotate(-130deg);
}
.close{
    transform: rotate();
}